<h2>Figure Out The Way,</h2>
<h1 id="logo">Todewr</h1>
<div>

</div>

<div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="MyApp">
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="" md-center-tabs="true">
            <md-tab label="Uses">
                <md-content class="md-padding">
                    <h1 class="md-display-2">What is <span class="logo1">Todewr</span>?</h1>
                    <p> <span class="logo2">Todewr</span> is the past, present &amp; future. It's the latest &amp; greatest,
                        but remembers its roots.</p>
                    <p> <span class="logo2">Todewr</span> is SMS based text storage.</p>
                    <p><span>Imagine</span> being able to store all of your simple 'strings' in one place. Now imagine being
                        able to revisit those incredible letters and numbers at a later time. The possibilities are as boundless
                        as your imagination.</p>
                    <p><span class="logo2">Todewr</span> means every scribe's dream has come true.</p>
                    <p><span>We've</span> melded the convention of paper with the convenience of the internet to bring you this
                        state of the art list-making tool. Now you can just text your thoughts or items to us and retrieve
                        them at your leisure.</p>

                </md-content>
            </md-tab>
            <md-tab label="Commands">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Commands</h1>
                    <p id="commandsP"><span class="logo2">Todewr</span> accepts <span class="commands">items</span> with spaces, but no spaces in your <span class="commands">list</span> names please. <br> The follow commands available to you:</p>
                    <md-list>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text" layout="column">
                                <p><span>Add an item:</span></p>
                                <p><span class="commands">'&lt;Item&gt;'</span> adds to default 'todo' list</p>
                                <p><span class="commands">'add &lt;Item&gt; to &lt;List &gt;'</span> adds to specified
                                    list</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text" layout="column">
                                <p><span>Create a list:</span></p>
                                <p><span class="commands">'create new list &lt;List&gt;'</span> adds a list with the desired
                                    name</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text" layout="column">
                                <p><span>Retrieve a list:</span></p>
                                <p><span class="commands">'get &lt;List&gt;'</span> will return everything from the specified
                                    list</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text" layout="column">
                                <p><span>Remove an item:</span></p>
                                <p><span class="commands">'delete &lt;Item&gt; from &lt;List&gt;'</span> removes the
                                    item from the specified list</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text" layout="column">
                                <p><span>Remove a list:</span></p>
                                <p><span class="commands">'delete &lt;List&gt;'</span> removes the specified list</p>
                            </div>
                        </md-list-item>

                    </md-list>

                </md-content>
            </md-tab>
            <md-tab label="Try It">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Try it out!</h1>
                    <br>
                    <h2 class="started"> Get Started Today By Texting:</h2>
                    <h2> (323) 210-4247</h2>
                    <br>
                    <h2 class="started"> Already Started? View Your Lists Here:</h2>

                    <!--<form name="dbSearch" ng-submit="sendMessage()" ng-href="#!/lists">
                    <md-input-container>
                        <label>Phone Number</label>
                        <input type="text" ng-model="phone" required md-maxlength="10" >
                    </md-input-container>
                        <button type="submit">Submit</button>
                    </form>-->
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>